/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
.h1,h1{
   font-family: "Uncial Antiqua", system-ui;
  font-weight: 700;
  font-style: normal;
}
.h2,h2,.h3,h3,.h4,h4,.h5,h5{
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 200;
  font-style: normal;
}
.body,body{
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color: #46374b
}
.card {
    background-color: #fff5e0
}
